.homepage {
  min-height: 100vh;
  padding-top: 20px;
}

.titulo-principal {
  text-align: center;
  font-family: var(--fuente-titulo);
  font-size: 3rem;
  font-weight: 100;
  color: var(--color-acento);
}

.subtituloHome {
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-texto);
  margin-bottom: 2rem;
}

.cursos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card-curso {
  background-color: var(--color-claro);
  border: var(--borde-mistico);
  border-radius: 15px;
  box-shadow: var(--sombra-suave);
  width: 300px;
  padding: 1.5rem;
  color: var(--color-fondo);
  transition: transform 0.2s ease;
}

.card-curso:hover {
  transform: scale(1.03);
}

.curso-imagen {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.precio {
  color: var(--color-primario);
  font-weight: bold;
  margin-top: 0.5rem;
}

.button-RotatingCard {
  background: var(--color-acento);
  color: var(--color-fondo);
  font-family: var(--fuente-principal);
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: var(--sombra-suave);
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease 0.1s,
    box-shadow 0.6s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button-RotatingCard:hover {
  background: var(--color-secundario);
  color: var(--color-texto);
  box-shadow: 0 6px 20px rgba(230, 124, 191, 0.4);
  transform: scale(1.05);
}

.titulo-principal {
  text-align: center;
  font-family: var(--fuente-titulo);
  font-size: 3rem;
  font-weight: 100;
  color: var(--color-acento);
}

.subtituloHome {
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-texto);
  margin-bottom: 2rem;
}

.cursos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card-curso {
  background-color: var(--color-claro);
  border: var(--borde-mistico);
  border-radius: 15px;
  box-shadow: var(--sombra-suave);
  width: 300px;
  padding: 1.5rem;
  color: var(--color-fondo);
  transition: transform 0.2s ease;
}

.card-curso:hover {
  transform: scale(1.03);
}

.curso-imagen {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.precio {
  color: var(--color-primario);
  font-weight: bold;
  margin-top: 0.5rem;
}

.button-RotatingCard {
  background: var(--color-acento);
  color: var(--color-fondo);
  font-family: var(--fuente-principal);
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: var(--sombra-suave);
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease 0.1s,
    box-shadow 0.6s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button-RotatingCard:hover {
  background: var(--color-secundario);
  color: var(--color-texto);
  box-shadow: 0 6px 20px rgba(230, 124, 191, 0.4);
  transform: scale(1.05);
}
